<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
<table class="body">
    <tr>
        <td>
            <center>

                <spacer size="15"></spacer>
                <container class="bg1 bg">
                    <row>
                        <columns large="6" class="custom-pb">

                        </columns>
                        <columns large="6" class="custom-pb">
                            <spacer size="50"></spacer>
                            <h2 class="email-title small-text-center">привет</h2>
                            <spacer size="10"></spacer>

                            <p class="text-left text-home small-text-center">Благодарю вас за регистрацию! Вы сделали
                                правильный выбор и теперь можете посмотреть бесплатный видео-урок. На нем вы определите
                                свой сценарий поведения в конфликтах и узнаете, как побеждать в рабочей и личной
                                жизни.</p>
                            <spacer size="10"></spacer>
                            <h3 class="small-text-center subtitle-home">Чтобы открыть видео-урок,
                                <span class="text-orange">жмите на ссылку:</span></h3>

                            <spacer size="10"></spacer>
                            <center>
                                <a class="home-btn small-text-center" href="">Открыть видеоурок</a>
                            </center>

                            <spacer size="30"></spacer>
                        </columns>
                    </row>
                </container>

                <container class="center bg bg2">
                    <row>
                        <columns large="12" class="custom-pb">
                            <spacer size="60"></spacer>
                            <h2 class="text-center email-title2 ">Теперь вы знаете <span class="text-orange"> свой сценарий поведения  в конфликтах</span>
                            </h2>


                            <spacer size="10"></spacer>
                            <p class="text-center bg2-desc small-text-center">Кстати, <span
                                    class="text-orange">какой вариант</span> у вас получился?</p>
                            <spacer size="40"></spacer>
                            <p class="text-center small-text-center text-list">1. избегание</p>
                            <spacer size="10"></spacer>
                            <p class="text-center small-text-center text-list">2. соперничество</p>
                            <spacer size="10"></spacer>
                            <p class="text-center small-text-center text-list">3. приспособление</p>
                            <spacer size="10"></spacer>
                            <p class="text-center small-text-center text-list">4. сотрудничество</p>
                            <spacer size="10"></spacer>
                            <p class="text-center small-text-center text-list">5. компромисс</p>
                            <spacer size="40"></spacer>
                            <p class="text-center bg2-bottom-desc small-text-center">Уже задумались, почему вы попадаете
                                в тот или иной
                                сценарий чаще всего? Возможно вам мешает страх неудачи, а может отсутствие гибкости
                                мышления. Опыт негативного прошлого преследует вас и не дает добиваться целей. А ведь
                                решительность и борьба — главные показатели мужской силы!</p>
                            <spacer size="30"></spacer>

                        </columns>
                    </row>
                </container>
                <container class="center bg bg3">
                    <row>
                        <columns large="12" class="custom-pb">
                            <spacer size="40"></spacer>
                            <h2 class="text-center email-title2 ">Хотите определить свой <span
                                    class="text-orange"> реальный  рейтинг </span>среди таких же как вы мужчин?
                            </h2>


                            <spacer size="20"></spacer>

                            <p class="text-center bg3-desc small-text-center">Тогда приглашаю вас на свой тренинг
                                “Армагеддон”,
                                который пройдет 26 и 27 мая в Москве. Здесь нет места слабакам! “Армагеддон” проверит
                                вас на прочность, силу духа и непоколебимость. Занимайте свои места, если готовы стать
                                чемпионом по жизни!</p>
                            <spacer size="20"></spacer>

                            <center>
                                <a class="small-text-center text-center home-btn" href="">Забронировать место</a>
                            </center>

                            <spacer size="40"></spacer>
                        </columns>
                    </row>
                </container>

                <container class="center bg bg4">
                    <row>
                        <columns large="12" class="custom-pb">
                            <spacer size="30"></spacer>
                            <h2 class=" text-center email-title2 small-text-center">всего за 2 дня<span
                                    class="text-orange"> 2 дня</span>
                            </h2>

                            <spacer size="30"></spacer>
                            <p class="text-left small-text-center text-list"><span class="text-orange">1</span>&nbsp;	&nbsp;	&nbsp;<div class="text-list-float">Получите
                            объективную оценку себя как мужчины.</div></p>
                            <spacer size="15"></spacer>
                            <p class="text-left small-text-center text-list"><span class="text-orange">2</span>&nbsp;	&nbsp;	&nbsp;<div class="text-list-float">Повысите
                            уверенность в себе и раскроете возможности.</div></p>
                            <spacer size="15"></spacer>
                            <p class="text-left small-text-center text-list"><span class="text-orange">3</span>&nbsp;	&nbsp;	&nbsp;<div class="text-list-float">Усилите
                            свою харизму и авторитет в обществе.</div></p>
                            <spacer size="15"></spacer>
                            <p class="text-left small-text-center text-list"><span class="text-orange">4</span>&nbsp;	&nbsp;	&nbsp;<div class="text-list-float">Научитесь
                                эффективным приемам и техникам, которые помогут
                            добиваться желаемого.</div></p>
                            <spacer size="15"></spacer>
                            <p class="text-left small-text-center text-list"><span class="text-orange">5</span>&nbsp;	&nbsp;	&nbsp;<div class="text-list-float">Отработаете
                            3 главных навыка настоящего мужчины.</div></p>
                            <spacer size="15"></spacer>
                            <p class="text-left small-text-center text-list"><span class="text-orange">6</span>&nbsp;	&nbsp;	&nbsp;<div class="text-list-float">И
                                наконец повысите свой мужской тонус и уровень гормонов
                            желания.</div></p>

                            <spacer size="20"></spacer>

                            <h3 class="text-center small-text-center bg4-bottom"><span
                                    class="text-orange">Побеждайте первыми,</span> или вас победит кто-нибудь другой!
                            </h3>
                            <spacer size="20"></spacer>
                            <center>
                                <a class="small-text-center text-center home-btn" href="">иду на армагеддон</a>
                            </center>
                            <spacer size="50"></spacer>
                        </columns>
                    </row>
                </container>
                <container class="center bg bg5">
                    <row>
                        <columns>
                            <spacer size="30"></spacer>
                            <center>
                                <h3 class="small-text-center text-center text-orange footer-title">до встречи!</h3>
                                <spacer size="10"></spacer>
                                <div class="border"></div>
                                <spacer size="10"></spacer>
                                <p class="text-center footer-desc">С пожеланием любви,</p>
                                <p class="text-center footer-desc">Павел Раков</p>
                                <spacer size="10"></spacer>
                            </center>
                        </columns>
                    </row>
                </container>

                <spacer size="15"></spacer>


            </center>
        </td>
    </tr>
</table>


</body>
</html>